:root {
    --menu-height: 300pt;
    --background-color: RGB(40, 41, 35);
}


body {
    text-align: center;
    color: white;
    text-rendering: optimizeLegibility;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    font-size: 20pt;

    background-color: var(--background-color);
    /*background-image: url('images/fond.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;  */
    /*background-size: cover;*/
}

body::after {
    overflow: scroll;
}

h1 {
    font-size: 60pt;
    font-family: Palatino;
    font-weight: normal;
    color: darkorange;
}

h2 {
    font-size: 40pt;
    color: #0080FF;
}

h3 {
    font-size: 30pt;
    font-family: Arial;
}

h4 {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: lighter;
}


p {
    font-size: 20pt;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    font-weight: lighter;

    text-align: left;
    text-indent: 4ex;
}

.nom_site {
    font-size: 45pt;

}

a>button::before { content: "⇨ "; }
a>button {
    font-size: 25pt;
    font-family: sans-serif;
    color: var(--background-color);
    padding: 5px 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: solid 1pt black;
    border-radius: 7pt;
    box-shadow: 0px 14px grey;


    background-color: #FFA500;
    padding-top: 5px;
    text-align: right;
    transition: 0.2s;
}
a>button:hover {
    /* background-color: darkorange; */
    background-color: #FFA500aa;
    border: solid 1pt;
    border-color: #FFA500aa;
}
a>button:active {
    box-shadow: 0 7px darkgrey;
    transform: translateY(9px);
}

#style_button {
    /* background-color: var(--background-color); */
    background-color: darkorange;
    color:  var(--background-color);
    font-size: 14pt;
    border: solid 2pt black;
    border-radius: 8pt;
    box-shadow: 0 8px #888888;
    width: 3cm;
}
#style_button:hover {
    box-shadow: 0 5px  #888888;
    transform: translateY(3px);
}
#style_button:active {
    box-shadow: 0 1px #888888;
    transform: translateY(7px);
}

.tel {
    font-family: Menlo;
    font-size: 14pt; /* correspond à 20pt en verdanna */
    text-decoration: none; /*ATTENTION: il faut aussi modifier la balise <a></a> qui entoure le tel.*/
    color: darkorange;

    word-spacing: 2pt;

    border-radius: 4pt;
    border-width: 1px;
    border-style: none;
}


.tel:hover {
    color: #2480FF;
    text-decoration: underline;
}

a h1:hover {
    color: gold;
    text-decoration: underline;
}

a h2:hover {
    color: gold;
    text-decoration: underline;
}

a {
    color: #0080FF;
    text-decoration: none;
}
a:hover {
    color: #30B0FF;
}

a > p::before {
    content: "🔗 ";
    transition: 0.2s;
}

a > p:hover {
    color: #0E692B;
    transition: 0.2s;
}

img {
    /*border: 1pt solid black;*/
    margin: auto;
    /* padding: 1pt 1pt;*/
}

body > div::before {   
    content: "\
    42\
    \
    ";
    font-size: 40px;
}

.game_image {
}





/***********************\
|***********************|
|* INTEGRATION DU MENU *|
|***********************|
\***********************/
/*
header iframe {
border: none;
border-width: -1cm;
height: 50pt;
width: 100%;
}
header iframe:hover {
height: var(--menu-height);
}
 */

/******************************\
|******************************|
|* STYLE DES MENUS DÉROULANTS *|
|******************************|
\******************************/

title::after {
    content: "OsKaR";
}

nav{
    width: 100%;
    margin: -10 auto;
    background-color: darkorange;
    color: white;
    position: fixed;
    top: 0px;
    font-size: 20px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: -10px 0px;
}

nav a:hover{
    color: #0E692B;
    border-bottom: 2px solid #0E692B;
    transition: 0.2s;
    font-weight: bold;
}


.sous_menu{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: RGB(40, 41, 35);
    color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
    font-size: 20pt;
}
nav > ul li:hover .sous_menu{
    display: block;
}

.sous_menu li{
    float: none;
    width: 100%;
    text-align: left;
    text-decoration: none;
}

.sous_menu a{
    padding: 10px;
    border-bottom: none;
}
.sous_menu a:hover{
    border-bottom: none;
}
.menu_deroulant > a::after{
    content:" ▼";
    font-size: 25px;
}

.menu_deroulant {
    font-size: 25pt
}

.menu {
    font-size: 25pt
}

