:root {

	--menu-height: 300pt;
}



body {
	text-align: center;
	color: white;
	text-rendering: optimizeLegibility;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
	
	background-color: RGB(40, 41, 35);
	background-image: url('images/fond.jpg');
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;  
  	/*background-size: cover;*/
}

h1 {
	font-size: 30pt;
	font-family: Palatino;
	font-weight: normal;
	color: orange;
}

h2 {
	font-size: 20pt;
	color: #0080FF;
}

h3 {
	font-size: 15t;
	font-family: Arial;
}

h4 {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: lighter;
}


p {
	font-size: 12pt;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-weight: lighter;

	text-align: left;
	text-indent: 4ex;
}

.nom_site {
	font-size: 45pt;
	
}





.tel {
	font-family: Menlo;
	font-size: 14pt; /* correspond à 20pt en verdanna */
	text-decoration: none; /*ATTENTION: il faut aussi modifier la balise <a></a> qui entoure le tel.*/
	color: orange;

	word-spacing: 2pt;

	border-radius: 4pt;
	border-width: 1px;
	border-style: none;
}

.tel:hover {
	color: #2480FF;
    text-decoration: underline;
}

a h1:hover {
    color: gold;
    text-decoration: underline;
}

a {
    color: #0080FF;
}
a:hover {
    color: #30B0FF;
}


img {
    border: 3pt solid black;
    margin: auto;
    padding: 1pt 1pt;
    width: 0cm;
    background-color: lightgrey;
}








/***********************\
|***********************|
|* INTEGRATION DU MENU *|
|***********************|
\***********************/

header iframe {
    border: none;
    border-width: -1cm;
    height: 50pt;
    width: 100%;
}
header iframe:hover {
	height: var(--menu-height);
}

/******************************\
|******************************|
|* STYLE DES MENUS DÉROULANTS *|
|******************************|
\******************************/

title::after {
	content: "OsKaR";
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: orange;
    color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: lightgrey;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: black;
    border-bottom: 2px solid royalblue;
}

.sous_menu{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: RGB(40, 41, 35);
    color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous_menu{
    display: block;
}
.sous_menu li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous_menu a{
    padding: 10px;
    border-bottom: none;
}
.sous_menu a:hover{
    border-bottom: none;
}
.menu_deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.sous_menu_content {
	font-size: 11pt;
}


