:root {

	--menu-height: 300pt;
}



body {
	text-align: center;
	color: white;
	text-rendering: optimizeLegibility;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    font-size: 20pt;

	background-color: RGB(40, 41, 35);
	/*background-image: url('images/fond.jpg');*/
	/*background-repeat: no-repeat;*/
	/*background-attachment: fixed;  */
  	/*background-size: cover;*/
}

body::after {
   overflow: scroll;
}

h1 {
	font-size: 60pt;
	font-family: Palatino;
	font-weight: normal;
	color: orange;
}

h2 {
	font-size: 40pt;
	color: #0080FF;
}

h3 {
	font-size: 30pt;
	font-family: Arial;
}

h4 {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight: lighter;
}


p {
	font-size: 20pt;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	color: white;
	font-weight: lighter;

	text-align: left;
	text-indent: 4ex;
}

.nom_site {
	font-size: 45pt;

}

.button {
    font-size: 25pt;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 50%;
    text-align: right;
    background-color: orange;
    border: solid;
    border-color: darkorange;
    border-radius: 7pt;
    border-width: 3px;
    /*position: absolute;*/
    transition: 0.2s;
}

.button:hover {
    color: #0E692B;
    background-color: darkorange;
    border-color: #0E692B;
    border-width: 3px;
}



.tel {
	font-family: Menlo;
	font-size: 14pt; /* correspond à 20pt en verdanna */
	text-decoration: none; /*ATTENTION: il faut aussi modifier la balise <a></a> qui entoure le tel.*/
	color: orange;

	word-spacing: 2pt;

	border-radius: 4pt;
	border-width: 1px;
	border-style: none;
}

.tel:hover {
	color: #2480FF;
    text-decoration: underline;
}

a h1:hover {
    color: gold;
    text-decoration: underline;
}

a h2:hover {
    color: gold;
    text-decoration: underline;
}

a {
    color: #0080FF;
    text-decoration: none;
}
a:hover {
    color: #30B0FF;
}

a > p::before {
    content: "🔗 ";
    transition: 0.2s;
}

a > p:hover {
    color: #0E692B;
    transition: 0.2s;
}

img {
    border: 3pt solid black;
    margin: auto;
    padding: 1pt 1pt;
    width: 0cm;
    background-color: lightgrey;
}

body > div::before {
    content: "\
42\
\
";
    font-size: 40px;
}
